@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;

  --black: #181818;
  --black-soft: #222222;

  --gray: #a9a9ad;

  --blue-soft: #5e86f7;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);

  --color-text: var(--black);

  --color-link: var(--blue-soft);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);

    --color-text: var(--gray);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;

  background: var(--color-background);
  color: var(--color-text);

  font-family: 'Funnel Sans', Inter, Roboto, Ubuntu, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
