@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;

  --black: #181818;
  --black-soft: #222222;

  --gray: #a9a9ad;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);

  --color-text: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);

    --color-text: var(--gray);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;

  background: var(--color-background);
  color: var(--color-text);

  font-family: 'Montserrat', Inter, Roboto, Ubuntu, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
